<div class="main-header">
  <div class="header-wrap">
    <div class="header-logo">
      <a [routerLink]="['/']" *ngIf="!isMobile">
        <img src="./assets/resources/images/header/logo.png" alt="">
      </a>
      <div class="link" style="width: 9%!important;" *ngIf="isMobile" (click)="sideMenuOpen()">
        <img src="./assets/resources/images/header/logo.png" alt="">
      </div>
    </div>
    <div class="header-auth" >
      <a class="sign-up" [routerLink]="['/sign-up']" *ngIf="!auth && !appData.signupState">
        <img src="./assets/resources/images/header/sign-up.png" alt="">
      </a>
      <a class="sign-up" [routerLink]="['/sign-up']" *ngIf="!auth && appData.signupState">
        <img src="./assets/resources/images/header/sign-up.png" alt="">
      </a>
      <a class="sign-up" [routerLink]="['/diary']" *ngIf="auth && !isMobile">
        <img src="./assets/resources/images/search/calendar.png" alt="">
      </a>
      <a class="log-in" [routerLink]="['/login']" *ngIf="!auth && !appData.loginState">
        <img src="./assets/resources/images/header/log-in.png" alt="">
      </a>
      <a class="log-in" [routerLink]="['/login']" *ngIf="!auth && appData.loginState">
        <img src="./assets/resources/images/header/log-in.png" alt="">
      </a>
      <a class="log-in" [routerLink]="['/profile']" *ngIf="auth" >
        <img src="{{userData.diaries[0].img}}" alt="" style="border-radius: 50%">
      </a>
    </div>
  </div>
</div>