<div class="time-food" [hidden]="!isMobile && appData.selectedFoodTime.state !== 1">
  <div class="item title-item" [hidden]="!isMobile">
    <div class="second-block-title" >Breakfast</div>
    <div class="text-res-item w-30 addfood" style="cursor: pointer;">add food</div>
    <div class="N-W">
      <img src="./assets/resources/images/search/add-green.png" alt="">
    </div>
    <div class="text-res-item w-20" href="" >1000 cal</div>
  </div>

  <div class="wrapper-food" *ngIf="!isMobile" slimScroll  width="100%" height="100%"  position="left" size="2px" color="#fff" opacity=0.5 railVisible=true alwaysVisible=true railColor="#ff0000" railOpacity=0.8 distance="{{halfWindow}}px">
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

  <div class="wrapper-food" *ngIf="isMobile" >
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

</div>

<div class="time-food" [hidden]="!isMobile && appData.selectedFoodTime.state !== 2">
  <div class="item title-item" [hidden]="!isMobile">
    <div class="second-block-title" >Dinner</div>
    <div class="text-res-item w-30 addfood" style="cursor: pointer;">add food</div>
    <div class="N-W">
      <img src="./assets/resources/images/search/add-green.png" alt="">
    </div>
    <div class="text-res-item w-20" href="" >1000 cal</div>
  </div>

  <div class="wrapper-food" *ngIf="!isMobile" slimScroll  width="100%" height="100%"  position="left" size="2px" color="#fff" opacity=0.5 railVisible=true alwaysVisible=true railColor="#ff0000" railOpacity=0.8 distance="{{halfWindow}}px">
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

  <div class="wrapper-food" *ngIf="isMobile" >
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

</div>

<div class="time-food" [hidden]="!isMobile && appData.selectedFoodTime.state !== 3">
  <div class="item title-item" [hidden]="!isMobile">
    <div class="second-block-title" >Lunch</div>
    <div class="text-res-item w-30 addfood" style="cursor: pointer;">add food</div>
    <div class="N-W">
      <img src="./assets/resources/images/search/add-green.png" alt="">
    </div>
    <div class="text-res-item w-20" href="" >1000 cal</div>
  </div>

  <div class="wrapper-food" *ngIf="!isMobile" slimScroll  width="100%" height="100%"  position="left" size="2px" color="#fff" opacity=0.5 railVisible=true alwaysVisible=true railColor="#ff0000" railOpacity=0.8 distance="{{halfWindow}}px">
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

  <div class="wrapper-food" *ngIf="isMobile" >
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

</div>

<div class="time-food" [hidden]="!isMobile && appData.selectedFoodTime.state !== 4">
  <div class="item title-item" [hidden]="!isMobile">
    <div class="second-block-title" >Snack</div>
    <div class="text-res-item w-30 addfood" style="cursor: pointer;">add food</div>
    <div class="N-W">
      <img src="./assets/resources/images/search/add-green.png" alt="">
    </div>
    <div class="text-res-item w-20" href="" >1000 cal</div>
  </div>

  <div class="wrapper-food" *ngIf="!isMobile" slimScroll  width="100%" height="100%"  position="left" size="2px" color="#fff" opacity=0.5 railVisible=true alwaysVisible=true railColor="#ff0000" railOpacity=0.8 distance="{{halfWindow}}px">
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

  <div class="wrapper-food" *ngIf="isMobile" >
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item w-60">Hamburger light</div>
      <div class="text-res-item w-20" href="" >1000 cal</div>
      <div class="N-W" ><img src="./assets/resources/images/search/delete.png" alt=""></div>
    </div>
  </div>

</div>

