<div class="item diary-title-item" >
  <div class="text-res-item title-nav" *ngIf="!isMobile">Recently edited</div>
  <div class="text-res-item title-nav" *ngIf="isMobile">History</div>
  <div class="text-res-item f-e">sort by date</div>
  <div class="N-W "><img src="./assets/resources/images/diary/arr-down-black.png" alt="" style="max-width: 40%;"></div>
</div>
<div class="scroll-wrap-wrap" >
  <div class="scroll-wrap" slimScroll  width="100%" height="100%"  position="right" size="2px" color="#fff" opacity=1 railVisible=true alwaysVisible=true railColor="#fff" railOpacity=0.2 distance="-1px">
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
    <div class="item">
      <div class="N-W"><a href="" ><img src="./assets/resources/images/search/ingridients.png" alt=""></a></div>
      <div class="text-res-item" >Hamburger</div>
      <div class="text-res-item f-e">March 27 2017</div>
    </div>
  </div>
</div>
