<div class="slider-wrap" [ngStyle]="{'margin-top': appData.sliderPosition.state}" (window:resize)="onResize($event)">
  <div class="main-slider">
    <div class="slider-left-btn" [hidden]="selectedElement === infos" (click)="goToElement(params.elementsArr[0], null)" *ngIf="!isMobile">
      <img src="./assets/resources/images/search/go-back-green.png" alt="" >
    </div>

    <div class="navig" #navig>
      <div #infos class="navitems" data-num="0" [class.form-type]="selectedElement === infos">
        <div class="naw-wrap" (click)="goToElement(params.elementsArr[0], null)" [hidden]="selectedElement === infos" style="background-image: url('assets/resources/images/login/infos.png')!important;" [class.element-active]="params.elementsArr[0].confirmed">
          <div class="item-label" style="bottom: auto;">infos</div>
        </div>
        <div class="log-in-form" [hidden]="selectedElement !== infos">

          <form #signupForm="ngForm" novalidate >
            <div class="form-group">
              <div class="no-valid" [hidden]="firstName.valid || (firstName.untouched && !signupForm.submitted)">Enter your First Name</div>
              <input type="text" name="firstName" [ngModel]="newAccount.firstName" placeholder="Enter your First Name" required minlength="3" maxlength="20" #firstName="ngModel"
                     (focusout)="diaryInf.firstName = changeInfoService.changeFirstName(signupForm.value.firstName)">
            </div>
            <div class="form-group">
              <div class="no-valid" [hidden]="lastName.valid || (lastName.untouched && !signupForm.submitted)">Enter your Last Name</div>
              <input type="text" name="lastName" [ngModel]="newAccount.lastName" placeholder="Enter your Last Name" required minlength="3" maxlength="20" #lastName="ngModel"
                     (focusout)="diaryInf.lastName = changeInfoService.changeLastName(newAccount.lastName)">
            </div>
            <div class="form-group">
              <div class="no-valid" [hidden]="email.valid || (email.untouched && !signupForm.submitted)">Enter your Email</div>
              <input type="text" name="email" [ngModel]="newAccount.email" placeholder="Enter your Email"
                     required  #email="ngModel" pattern="[a-zA-Z_0-9]+@[a-zA-Z_0-9]+?\.[a-zA-Z0-9]{2,3}">
            </div>
            <div class="form-group">
              <div class="no-valid" [hidden]="password.valid || (password.untouched && !signupForm.submitted)">Enter your Password</div>
              <input type='password' name="password" [ngModel]="newAccount.password" placeholder="Enter your Password"
                     required minlength="5" maxlength="15" validateEqual="confirmPassword" reverse="true" #password="ngModel">
            </div>
            <div class="form-group">
              <div class="no-valid" [hidden]="confirmPassword.valid || (confirmPassword.untouched && !signupForm.submitted)">Confirm your Password</div>
              <input type='password' name="confirmPassword" [ngModel]="newAccount.confirmPassword" placeholder="Confirm your Password"
                     required validateEqual="password" reverse="false" #confirmPassword="ngModel">
            </div>
          </form>

          <div class="time-item" (click)="goToElement(params.elementsArr[1], params.elementsArr[0])" >
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #photo class="navitems" data-num="1" [class.scale-x-2]="selectedElement === photo">
        <div class="naw-wrap " (click)="goToElement(params.elementsArr[1], params.elementsArr[0])" [hidden]="selectedElement == photo" [class.element-active]="params.elementsArr[1].confirmed">
          <div class="item-label">photo</div>
        </div>
        <div class="naw-wrap" [hidden]="selectedElement !== photo">
          <div class="nav-item-label">
            Choose a photo
          </div>
          <div class="input-wrap">
              <label class="custom-file-upload" [ngStyle]="{'background-image': 'url(' + diaryInf.img + ')'}">
                <span>Add photo</span>
                <input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)">
              </label>
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[2], params.elementsArr[1])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #gender class="navitems" data-num="2" [class.scale-x-2]="selectedElement === gender">
        <div class="naw-wrap " (click)="goToElement(params.elementsArr[2], params.elementsArr[1])" [hidden]="selectedElement == gender" style="background-image: url('assets/resources/images/login/gender.png');" [class.element-active]="params.elementsArr[2].confirmed">
          <div class="item-label">gender</div>
          <div class="item-value" [hidden]="!params.elementsArr[2].confirmed">{{diaryInf.gender}}</div>
        </div>
        <div class="naw-wrap" [hidden]="selectedElement !== gender">
          <div class="nav-item-label">
            Choose a gender
          </div>
          <div class="input-wrap">
            <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.gender = changeInfoService.changeGender(diaryInf.gender)" alt="">
            <span >{{diaryInf.gender}}</span>
            <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.gender = changeInfoService.changeGender(diaryInf.gender)" alt="">
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[3], params.elementsArr[2])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #height class="navitems" data-num="3" [class.scale-x-2]="selectedElement === height">
        <div class="naw-wrap" (click)="goToElement(params.elementsArr[3], params.elementsArr[2])" [hidden]="selectedElement === height" style="background-image: url('assets/resources/images/login/weight.png');" [class.element-active]="params.elementsArr[3].confirmed">
          <div class="item-label">height</div>
          <div class="item-value" [hidden]="!params.elementsArr[3].confirmed">{{diaryInf.height}}</div>
        </div>
        <div class="naw-wrap" [hidden]="selectedElement !== height" >
          <div class="nav-item-label">
            Choose a height
          </div>
          <div class="input-wrap" *ngIf="heightInput">
            <div class="change-height">
              <div class="units-wrap">
                <input type="radio" name='koefH' value="30.48" style="width: 10%;"checked><span>ft</span>
                <input type="radio" name='koefH' value="1" style="width: 10%;"><span>cm</span>
              </div>
              <input #newHeight type="number" value="" [focus]="heightInput">
              <img src="./assets/resources/images/search/save-white.png"  (click)="changeInputHeight(newHeight.value)" alt="">
            </div>
          </div>
          <div class="input-wrap" [hidden]="heightInput">
            <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.height = changeInfoService.spinHeight(1)" alt="">
            <input value="{{diaryInf.height}}" (click)="heightInput = true" readonly style="cursor: pointer;">
            <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.height = changeInfoService.spinHeight(-1)" alt="">
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[4], params.elementsArr[3])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #weight class="navitems" data-num="4" [class.scale-x-2]="selectedElement === weight">
        <div class="naw-wrap" (click)="goToElement(params.elementsArr[4], params.elementsArr[3])" [hidden]="selectedElement == weight" style="background-image: url('assets/resources/images/login/weight.png');" [class.element-active]="params.elementsArr[4].confirmed">
          <div class="item-label">weight</div>
          <div class="item-value" [hidden]="!params.elementsArr[4].confirmed">{{diaryInf.weight}}</div>
        </div>
        <div class="naw-wrap" [hidden]="selectedElement !== weight">
          <div class="nav-item-label">
            Choose a weight
          </div>
          <div class="input-wrap">
            <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.weight = changeInfoService.spinWeight(1)" alt="">
            <input type="text" value="{{diaryInf.weight}}" (focusout)="diaryInf.weight = changeInfoService.changeWeight($event.target.value)" (focus)="diaryInf.weight = ''" placeholder="kg">
            <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.weight = changeInfoService.spinWeight(-1)" alt="">
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[5], params.elementsArr[4])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #age class="navitems" data-num="5" [class.scale-x-2]="selectedElement === age">
        <div class="naw-wrap" (click)="goToElement(params.elementsArr[5], params.elementsArr[4])" [hidden]="selectedElement == age" style="background-image: url('assets/resources/images/login/age.png');" [class.element-active]="params.elementsArr[5].confirmed">
          <div class="item-label">age</div>
          <div class="item-value" [hidden]="!params.elementsArr[5].confirmed">{{diaryInf.date.day}}.{{diaryInf.date.month}}.{{diaryInf.date.year}}</div>
        </div>
        <div class="naw-wrap"  [hidden]="selectedElement !== age" >
          <div class="nav-item-label">
            Choose a date of birth
          </div>
          <div class="input-wrap">
            <div class="age-input-wrap">
              <div class="age-input">
                <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.date.day = changeInfoService.spinDate(1, 'day')" alt="">
                <input type="number" value="{{diaryInf.date.day}}" (focusout)="diaryInf.date.day = changeInfoService.changeDay($event.target.value)" (focus)="diaryInf.date.day = ''" placeholder="day">
                <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.date.day = changeInfoService.spinDate(-1, 'day')" alt="">
              </div>
              <div class="age-input">
                <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.date.month = changeInfoService.spinDate(1, 'month')" alt="">
                <input type="number" value="{{diaryInf.date.month}}" (focusout)="diaryInf.date.month = changeInfoService.changeMonth($event.target.value)" (focus)="diaryInf.date.month = ''" placeholder="month">
                <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.date.month = changeInfoService.spinDate(-1, 'month')" alt="">
              </div>
              <div class="age-input">
                <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.date.year = changeInfoService.spinDate(1, 'year')" alt="">
                <input type="number"  value="{{diaryInf.date.year}}" (focusout)="diaryInf.date.year = changeInfoService.changeYear($event.target.value)" (focus)="diaryInf.date.year = ''" placeholder="year">
                <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.date.year = changeInfoService.spinDate(-1, 'year')" alt="">
              </div>
            </div>
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[6], params.elementsArr[5])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #activity class="navitems" data-num="6" [class.scale-x-2]="selectedElement === activity">
        <div class="naw-wrap" (click)="goToElement(params.elementsArr[6], params.elementsArr[5])" [hidden]="selectedElement == activity" style="background-image: url('assets/resources/images/login/activity.png');" [class.element-active]="params.elementsArr[6].confirmed">
          <div class="item-label">activity</div>
          <div class="item-value" [hidden]="!params.elementsArr[6].confirmed">{{diaryInf.activity}}</div>
        </div>
        <div class="naw-wrap" [hidden]="selectedElement !== activity" >
          <div class="nav-item-label">
            Choose activity
          </div>
          <div class="input-wrap">
            <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.activity = changeInfoService.changeActivity(1, diaryInf.activity)" alt="">
            <span >{{diaryInf.activity}}</span>
            <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.activity = changeInfoService.changeActivity(-1, diaryInf.activity)" alt="">
          </div>
          <div class="time-item" (click)="goToElement(params.elementsArr[7], params.elementsArr[6])">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
          </div>
        </div>
      </div>

      <div #calories class="navitems"  data-num="7" [class.scale-x-2]="selectedElement === calories">

        <div class="naw-wrap" (click)="goToElement(params.elementsArr[7], params.elementsArr[6])" [hidden]="selectedElement == calories" [class.element-active]="params.elementsArr[7].confirmed">
          <div class="item-label">calories</div>
          <div class="item-value" [hidden]="!params.elementsArr[7].confirmed">{{diaryInf.calories}}</div>
        </div>

        <div class="naw-wrap" [hidden]="selectedElement !== calories">
          <div class="nav-item-label">
            Recommended daily calories
          </div>
          <div class="input-wrap">
            <img src="./assets/resources/images/login/arr-up.png" (click)="diaryInf.calories = changeInfoService.spinCalories(1)" alt="">
            <input type="number"  value="{{diaryInf.calories}}"  (focusout)="diaryInf.calories = changeInfoService.changeCalories($event.target.value)" (focus)="diaryInf.calories = ''" placeholder="calories">
            <img src="./assets/resources/images/login/arr-down.png"  (click)="diaryInf.calories = changeInfoService.spinCalories(-1)" alt="">
          </div>
          <div class="time-item" [class.disabled]="!signupForm.valid" (click)="finishReg()">
            <img src="./assets/resources/images/login/btn-next.png" alt="">
            <span>finish</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tag-log-in">Register a new account</div>

<ul class="reg-navig" >
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[0].confirmed" (click)="goToElement(params.elementsArr[0], null)"><h5>Infos</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[1].confirmed" (click)="goToElement(params.elementsArr[1], params.elementsArr[0])"><h5>Photos</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[2].confirmed" (click)="goToElement(params.elementsArr[2], params.elementsArr[1])"><h5>Gender</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[3].confirmed" (click)="goToElement(params.elementsArr[3], params.elementsArr[2])"><h5>Height</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[4].confirmed" (click)="goToElement(params.elementsArr[4], params.elementsArr[3])"><h5>Weight</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[5].confirmed" (click)="goToElement(params.elementsArr[5], params.elementsArr[4])"><h5>Age</h5></li>
  <li class="reg-navig-item"  [class.element-active]="params.elementsArr[6].confirmed" (click)="goToElement(params.elementsArr[6], params.elementsArr[5])"><h5>Activity</h5></li>
</ul>