<div class="res-block first-block">
  <div class="item item-title" (click)="toggleState()">
    <div class="bg-green"></div>
    <div class="text-res-item" href="">Macroelements</div>
    <div class="text-res-item percent-item" href="" >2 / 3</div>
  </div>

  <div class="nutritional-content">
    <div class="item">
      <div class="N-W">
        <div class="img-wrapper">
          <span>p</span>
        </div>
      </div>
      <div class="text-res-item" href="">Protein</div>
      <div class="text-res-item percent-item" href="">34%</div>
      <div class="bg-red"></div>
    </div>
    <div class="item">
      <div class="N-W">
        <div class="img-wrapper">
          <span>f</span>
        </div>
      </div>
      <div class="text-res-item" href="">Fats</div>
      <div class="text-res-item percent-item" href="">34%</div>
      <div class="bg-red"></div>
    </div>
    <div class="item">
      <div class="N-W">
        <div class="img-wrapper">
          <span>c</span>
        </div>
      </div>
      <div class="text-res-item" href="">Carbs</div>
      <div class="text-res-item percent-item" href="">34%</div>
      <div class="bg-red"></div>
    </div>
  </div>

</div>
<div class="res-block">
  <div class="item item-title" (click)="toggleState()">
    <div class="bg-green"></div>
    <div class="text-res-item" href="">Microelements</div>
    <div class="text-res-item percent-item" href="" >19 / 22</div>
  </div>

  <div class="nutritional-content">

    <div class="scroll-wrap" slimScroll  width="100%" height="100%"  position="left" size="2px" color="#fff" opacity=1 railVisible=true alwaysVisible=true railColor="#666" railOpacity=0.2 distance="-1px">
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
      <div class="item">
        <div class="N-W">
          <div class="img-wrapper"><span>a</span></div>
        </div>
        <div class="text-res-item" href="">Vitamin A</div>
        <div class="text-res-item percent-item" href="">34%</div>
        <div class="bg-red"></div>
      </div>
    </div>

  </div>
</div>
<div class="bg-blured" [hidden]="isMobile"></div>